.container {
  
  margin: 0 auto;
  padding: 20px;
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filters input[type='text'] {
  padding: 8px;
  margin-right: 10px;
}

.pagination {
  
  justify-content:end;
  margin-top: 20px;
}

.pagination button {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #eee;
  border: none;
  justify-content: center;
  cursor: pointer;
}

.pagination button.active {
  background-color: #ccc;
}

.photo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.photo img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}
